---
interface Props {
  chartHint: string;
}

const { chartHint } = Astro.props;
---

<div id="chart-hint" class="chart-hint" style="display:none">{chartHint}</div>
<div id="chart-section" class="chart-section hidden">
  <div class="chart-wrap">
    <svg id="donut-chart" viewBox="0 0 200 200" width="180" height="180"></svg>
  </div>
  <div id="chart-legend" class="chart-legend"></div>
</div>
