---
---

<footer>
  <div class="footer-inner">
    <span data-ko="&copy; 2025 txid.uk &mdash; 모든 데이터는 브라우저에만 저장됩니다" data-en="&copy; 2025 txid.uk &mdash; All data is stored locally in your browser" data-ja="&copy; 2025 txid.uk &mdash; すべてのデータはブラウザにのみ保存されます">&copy; 2025 txid.uk &mdash; 모든 데이터는 브라우저에만 저장됩니다</span>
    <span>mempool.space API</span>
  </div>
</footer>
